<div class="container">
    <div class="personal-profile">
        <div class="profile-header">
            <img src="../../../assets/images/image-jeremy.png" alt="user image">
            <div class="profile-details">
                <p>Report for</p>
                <p class="username">Jeremy Robson</p>
            </div>
        </div>
        <div class="profile-body">
            <ul>
                <li><a href="#">Daily</a></li>
                <li><a href="#">Weekly</a></li>
                <li><a href="#">Monthly</a></li>
            </ul>
        </div>
    </div>
    <div class="time-items">
        time items
    </div>
</div>