:root {
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(226, 43%, 10%);
    --desat-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
    --blue: hsl(246, 80%, 60%);
    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --self-care: hsl(43, 84%, 65%);
}

.container {
    /* border: 1px solid white; */
    width: 90%;
    margin: 4rem auto;
}

.personal-profile {
    background-color: hsl(241deg 42% 19%);
    border-radius: 1rem;
}

.profile-header {
    display: flex;
    padding: 1rem 2rem;
    color: white;
    background-color: var(--blue);
    border-radius: 1rem;
}

.profile-header img {
    width: 25%;
    margin-right: 1rem;
    border: 2px solid white;
    border-radius: 50%;
}

.profile-details {
    padding-top: .5rem;
}

.profile-details p {
    font-weight: 300;
    font-size: .9em;
}

.profile-details p.username {
    font-size: 1.25em;
}

.profile-body {
    padding: 1rem 1.5rem;
}

.profile-body ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* .profile-body li {
    display: inline-block;
    margin-right: 2.6rem;
} */

.profile-body a {
    text-decoration: none;
    color: hsl(236deg 100% 87%);
}

.time-items {
    /* border: 1px solid white; */
    margin-top: 1rem;
}

.time-items .card .card-header {
    height: 7vh;
    border-radius: .7rem;
    background-color: var(--work);
    z-index: -1;
    padding-right: 1rem;
    background-image: url('../../../assets/images/icon-work.svg');
    background-position: 90% 45%;
    background-repeat: no-repeat;
}

/* .time-items .card .card-header img {
    color: hsl(348, 100%, 68%);
    float: right;
    width: 50px;
    height: 50px;
    z-index: -2;
} */

.time-items .card .card-body {
    background-color: hsl(241deg 42% 19%);
    color: hsl(236deg 100% 87%);
    border-radius: .7rem;
    padding: 1rem 1.5rem;
    margin-top: -0.9rem;
    z-index: 1;
}

.dflex {
    display: flex;
    justify-content: space-between;
}

img#ellipse {
    font-size: .7rem;
    height: 10px;
}

.card-title {
    color: white;
}