<div class="container">
    <div class="personal-profile">
        <div class="profile-header">
            <img src="../../../assets/images/image-jeremy.png" alt="user image">
            <div class="profile-details">
                <p>Report for</p>
                <p class="username">Jeremy Robson</p>
            </div>
        </div>
        <div class="profile-body">
            <ul>
                <li><a href="#" (click)="getTimeFrames('daily')">Daily</a></li>
                <li class="active"><a href="#" (click)="getTimeFrames('weekly')">Weekly</a></li>
                <li><a href="#" (click)="getTimeFrames('monthly')">Monthly</a></li>
            </ul>
        </div>
    </div>
    <div *ngFor="let item of timeItems; let i=index" class="time-items">
        <div class="card">
            <div class="card-header" id="item-{{i}}">
                <!-- <img src="../../../assets/images/icon-work.svg" alt="work icon"> -->
            </div>
            <div class="card-body">
                <div class="dflex">
                    <h5 class="card-title">{{item.title}}</h5>
                    <img src="../../../assets/images/icon-ellipsis.svg" alt="ellipses" id="ellipse">
                </div>
                <div class="dflex" style="margin-top: .5rem;">
                    <h4 class="card-title">{{item.timeframes.monthly.current}} hrs</h4>
                    <p>Last week - {{item.timeframes.monthly.previous}}hrs</p>
                </div>
            </div>
        </div>
    </div>
</div>