:root {
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(226, 43%, 10%);
    --desat-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
    --blue: hsl(246, 80%, 60%);
    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --self-care: hsl(43, 84%, 65%);
}

.container {
    /* border: 1px solid white; */
    width: 90%;
    margin: 4rem auto;
}

.personal-profile {
    background-color: hsl(241deg 42% 19%);
    border-radius: 1rem;
}

.profile-header {
    display: flex;
    padding: 1rem 2rem;
    color: white;
    background-color: var(--blue);
    border-radius: 1rem;
}

.profile-header img {
    width: 25%;
    margin-right: 1rem;
    border: 2px solid white;
    border-radius: 50%;
}

.profile-details {
    padding-top: .5rem;
}

.profile-details p {
    font-weight: 300;
    font-size: .9em;
}

.profile-details p.username {
    font-size: 1.25em;
}

.profile-body {
    padding: 1rem 1.5rem;
}

.profile-body ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.profile-body a.active {
    color: white;
}

/* .profile-body li {
    display: inline-block;
    margin-right: 2.6rem;
} */

.profile-body a {
    text-decoration: none;
    color: hsl(236deg 100% 87%);
}

.time-items {
    /* border: 1px solid white; */
    margin-top: 1rem;
}

.time-items .card .card-header {
    height: 7vh;
    border-radius: .7rem;
    z-index: -1;
    padding-right: 1rem;
    background-position: 90% 45%;
    background-repeat: no-repeat;
}

div#item-0 {
    background-color: var(--work);
    background-image: url('../../../assets/images/icon-work.svg');
}

div#item-1 {
    background-color: var(--play);
    background-image: url('../../../assets/images/icon-play.svg');
}

div#item-2 {
    background-color: var(--study);
    background-image: url('../../../assets/images/icon-study.svg');
}

div#item-3 {
    background-color: var(--exercise);
    background-image: url('../../../assets/images/icon-exercise.svg');
}

div#item-4 {
    background-color: var(--social);
    background-image: url('../../../assets/images/icon-social.svg');
}

div#item-5 {
    background-color: var(--self-care);
    background-image: url('../../../assets/images/icon-self-care.svg');
}

/* .time-items .card .card-header img {
    color: hsl(348, 100%, 68%);
    float: right;
    width: 50px;
    height: 50px;
    z-index: -2;
} */

.time-items .card .card-body {
    background-color: hsl(241deg 42% 19%);
    color: hsl(236deg 100% 87%);
    border-radius: .7rem;
    padding: 1rem 1.5rem;
    margin-top: -0.9rem;
    z-index: 1;
}

.dflex {
    display: flex;
    justify-content: space-between;
}

img#ellipse {
    font-size: .7rem;
    height: 10px;
}

.card-title {
    color: white;
}

@media only screen and (max-width: 376px) {
    .container {
        /* border: 1px solid white; */
        width: 90%;
        margin: 4rem auto;
    }
}


@media only screen and (min-width: 600px) {
    .container {
        width: 90%;
        column-gap: 20px;
        display: flex;
    }

    .personal-profile {
        flex: 1 1 35%;
    }

    .profile-header {
        flex-direction: column;
        row-gap: 10px;
    }

    .profile-header img {
        width: 35%;
    }

    .profile-body ul {
        flex-direction: column;
        row-gap: 20px;
    }

    .time-items {
        margin-top: 0;
    }

    div.items-grid {
        flex: 3 0 65%;
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .time-items .card .card-header {
        height: 10vh;
    }

    div.card-body-details {
        margin-top: 1.5rem;
        flex-direction: column;
        row-gap: 10px;
    }

    h4.card-title {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 75%;
    }

    .personal-profile {
        flex: 1 1 20%;
    }

    div.items-grid {
        flex: 3 0 75%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
    }

    h4.card-title {
        font-size: 2rem;
    }

    .time-items .card .card-body {
        padding: 2rem 1rem;
    }
}


@media only screen and (min-width: 1200px) {
    .container {
        width: 80%;
        column-gap: 25px;
    }

    .personal-profile {
        flex: 1 1 20%;
    }

    .profile-header {
        height: 50%;
        padding: 2rem 2rem;
    }

    .profile-header img {
        width: 40%;
    }

    .profile-details p.username {
        font-size: 2em;
    }
}